<template>
  <div>
    <!-- <input type="text" id="clock" size="35" /> -->
    <el-divider />
    <div id="video-background" class="bk-radius">
      <!-- v-show="base64Str === ''" -->
      <video v-show="true" id="video" class="video-camera" preload autoplay loop muted />
      <canvas id="overlay"></canvas>
    </div>
    <!-- <el-button
      style="margin-top: 30px; text-align: center"
      type="primary"
      @click="resetTracking"
      >重启</el-button
    > -->
    <el-divider />
    <div id="result">
      <canvas v-show="flagCanvas === true" id="canvas1" width="200" height="200" />
      <canvas v-show="flagCanvas2 === true" id="canvas2" width="200" height="200" />
    </div>
  </div>
</template>

<script>
require("tracking/build/tracking-min.js");
require("tracking/build/data/face-min.js");
// require("tracking/build/data/mouth-min.js");
import dat from "dat.gui";
import * as faceapi from "face-api.js";
export default {
  name: "TrackingDemo",
  data() {
    return {
      trackerTask: "",
      tracker: {},
      tracker2: {},
      mediaStreamTrack: {},
      video: {},
      count: 0,
      flag: true,
      flagCanvas: false,
      flagCanvas2: false,
      base64Str: "",
      timer: "",
      clock: "",
      x: 0,
      y: 0,
      width: 0,
      height: 0,
    };
  },
  mounted() {
    this.resetTracking();
  },
  beforeDestroy() {
    // window.clearInterval(this.clock);
    // window.clearInterval(this.timer);
  },
  methods: {
    // async sleep(time) {
    //   return new Promise((resolve) => {
    //     setInterval(() => {
    //       resolve();
    //     }, time);
    //   });
    // },

    // 清空人脸追踪
    async resetTracking() {
      const _this = this;
      this.flag = true;
      this.flagCanvas = false;
      this.flagCanvas2 = false;
      this.base64Str = "";
      this.trackerTask = "";
      this.tracker = {};
      this.tracker2 = {};
      this.mediaStreamTrack = {};
      this.video = {};
      this.count = 0;
      this.x = 0;
      this.y = 0;
      this.width = 0;
      this.height = 0;
      await this.initTracking();
    },

    // 初始化人脸追踪
    async initTracking() {
      //
      const videoBackground = document.getElementById("video-background");
      videoBackground.style.backgroundImage = "";

      const _this = this;
      const video = (this.video = document.getElementById("video"));
      var canvas = document.getElementById("overlay");
      var context = canvas.getContext("2d");

      _this.tracker = new window.tracking.ObjectTracker("face");
      _this.tracker.setInitialScale(4);
      _this.tracker.setStepSize(2);
      // 转头角度影响识别率
      _this.tracker.setEdgesDensity(0.1);

      _this.openCamera();
      _this.trackerTask = window.tracking.track("#video", _this.tracker);

      // 使用期约来识别人脸，识别有就提示用户保持静止，3秒后拍照
      let prom = new Promise((resolve, reject) => {
        setTimeout(() => {
          _this.tracker.on("track", function (event) {
            if (event.data.length) {
              // 会不停的去检测人脸，所以这里需要做个锁
              if (_this.flag) {
                _this.flag = false;
                _this.$message({
                  message: "已识别人脸，请注视镜头并保持一段时间",
                  type: "success",
                });
                // context.clearRect(0, 0, canvas.width, canvas.height);
                // event.data.forEach(function (rect) {
                //   _this.x = (rect.x + 11) * 2.2;
                //   _this.y = (rect.y - 5) * 2;
                //   _this.width = rect.width * 1.6;
                //   _this.height = rect.height * 1.7;
                //   context.strokeStyle = "#a64ceb";
                //   context.strokeRect(rect.x, rect.y, rect.width, rect.height);
                //   context.font = "11px Helvetica";
                //   context.fillStyle = "#fff";
                //   context.fillText(
                //     "x: " + rect.x + "px",
                //     rect.x + rect.width + 5,
                //     rect.y + 11
                //   );
                //   context.fillText(
                //     "y: " + rect.y + "px",
                //     rect.x + rect.width + 5,
                //     rect.y + 22
                //   );
                // });
                _this.base64Str = "";
                setTimeout(() => {
                  _this.flagCanvas = true;
                  const canvasUpload = document.getElementById("canvas1");
                  const contextUpload = canvasUpload.getContext("2d");
                  contextUpload.clearRect(0, 0, canvasUpload.width, canvasUpload.height);
                  contextUpload.drawImage(video, 90, 30, 400, 400, 0, 0, 200, 200);
                  // contextUpload.drawImage(video, 90, 30, 400, 300, 0, 0, 200, 150);
                  // contextUpload.drawImage(video, 0, 0, 640, 480);
                  const canvasUpload2 = document.getElementById("canvas2");
                  const contextUpload2 = canvasUpload2.getContext("2d");
                  contextUpload2.clearRect(
                    0,
                    0,
                    canvasUpload2.width,
                    canvasUpload2.height
                  );
                  var tracker2 = new tracking.ObjectTracker("face");
                  tracker2.setStepSize(2);
                  tracker2.setInitialScale(4);
                  tracker2.setEdgesDensity(0.1);

                  tracker2.on("track", function (event) {
                    _this.flagCanvas2 = true;
                    event.data.forEach(function (rect) {
                      console.log(rect);
                      contextUpload.strokeStyle = "#a64ceb";
                      contextUpload.strokeRect(rect.x, rect.y, rect.width, rect.height);
                      contextUpload.font = "11px Helvetica";
                      contextUpload.fillStyle = "#fff";

                      contextUpload2.drawImage(
                        canvasUpload,
                        rect.x,
                        rect.y,
                        rect.width,
                        rect.height,
                        0,
                        0,
                        rect.width,
                        rect.height
                      );
                      // 人脸 base64
                      _this.base64Str = canvasUpload2.toDataURL("image/jpeg");
                    });
                  });
                  tracking.track("#canvas1", tracker2);

                  _this.video.pause();
                  if (_this.base64Str) {
                    console.log(_this.base64Str);
                    _this.$message({
                      message: "捕获人脸成功",
                      type: "success",
                    });
                  } else {
                    _this.$message({
                      message: "未捕获人脸，请重新拍照",
                      type: "error",
                    });
                  }
                  // 关闭摄像头
                  // _this.closeCamera();
                  // 直接获取 base64 不显示画布可开启
                  // _this.flag = true;
                }, 2000);
              }
            }
          });
          resolve();
        }, 0);
      });
      prom.then(() => {
        setTimeout(() => {
          _this.resetTracking();
        }, 9000);
      });

      // await sleep(2000);
    },

    openCamera() {
      if (navigator.mediaDevices === undefined) {
        navigator.mediaDevices = {};
      }
      if (navigator.mediaDevices.getUserMedia === undefined) {
        navigator.mediaDevices.getUserMedia = function (constraints) {
          // 首先，如果有getUserMedia的话，就获得它
          const getUserMedia =
            navigator.getUserMedia ||
            navigator.webkitGetUserMedia ||
            navigator.mozGetUserMedia ||
            navigator.msGetUserMedia;
          // 一些浏览器根本没实现它 - 那么就返回一个error到promise的reject来保持一个统一的接口
          if (!getUserMedia) {
            return Promise.reject(new Error("getUserMedia 浏览器不支持摄像头"));
          }
          // 否则，为老的navigator.getUserMedia方法包裹一个Promise
          return new Promise(function (resolve, reject) {
            getUserMedia.call(navigator, constraints, resolve, reject);
          });
        };
      }
      const constraints = {
        video: true,
        audio: false,
      };
      const promise = navigator.mediaDevices.getUserMedia(constraints);
      promise
        .then((stream) => {
          this.mediaStreamTrack = stream.getTracks()[0];
          window.stream = stream;
          const video = document.getElementById("video");
          // 旧的浏览器可能没有srcObject
          if ("srcObject" in video) {
            video.srcObject = stream;
          } else {
            video.src = window.URL.createObjectURL(stream);
          }
          video.onloadedmetadata = function (e) {
            video.play();
          };
        })
        .catch((err) => {
          console.error(err.name + ": " + err.message);
          console.error("获取权限失败");
        });
    },
    closeCamera() {
      if (typeof window.stream === "object") {
        if ("srcObject" in this.video) {
          this.video.srcObject = null;
        }
        window.stream.getTracks().forEach((track) => track.stop());
      }
    },
  },
};
</script>

<style scoped>
.bk-radius {
  width: 200px;
  height: 200px;
  overflow: hidden;
  /* background-color: #42b983; */
  background-image: url("../assets/images/face.png");
  z-index: -1;
  /* opacity: 0.5; */
  border-radius: 20%;
  margin: auto;
}

.rect2 {
  border: 2px solid #a64ceb;
  left: -1000px;
  position: absolute;
  top: -1000px;
}
.video-camera {
  width: 300px;
  height: 300px;
  margin-top: -40px;
  margin-left: -40px;

  /* position: absolute; */
}

.custom-block.tip {
  background-color: #ecf8ff;
  border-color: #50bfff;
  color: #409eff;
}

.custom-block,
.custom-block.tip,
.custom-block {
  padding: 0.1rem 1.5rem;
  border-left-width: 0.5rem;
  border-left-style: solid;
  margin: 1rem 0;
}
</style>
